<section class="new-training" fxLayout fxLayoutAlign="center">
<mat-card fxFlex.xs="100%" fxFlex="600px" >
<mat-card-title fxLayoutAlign="center">Time to start a workout!</mat-card-title>
<mat-card-content fxLayoutAlign="center">
    <mat-form-field>
    <mat-select placeholder="Select workout">
        <mat-option value="crunches">
            Crunches
        </mat-option>
    </mat-select>
    </mat-form-field> 
</mat-card-content>  
    <mat-card-actions fxLayoutAlign="center">
        <button mat-raised-button color="accent" type="submit" (click)="onStartTraining()">Start</button>
    </mat-card-actions>
</mat-card>
</section>
